# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/

# Platforms generated
android/app/release
ios/Pods/
linux/flutter/
macos/Flutter/ephemeral/
windows/flutter/
web/.dart_tool/

# Others
pubspec.lock
